body,
html {
    font-family: 'Blinker', sans-serif;
}

.card {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

img {
    width: 50%;
}

.card-title {
    color: #05cbe9;
    font-size: 1.75rem;
   
}

.card-body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-title,
.card-read-time,
.card-btn {
    font-family: 'Blinker', sans-serif;
}